.hero {
  background: #1b3764 !important;
  height: 527px !important;
  position: relative;
  overflow: hidden;
}
.main {
  position: absolute;
  width: 100%;
  height: 280px;
  text-align: center;
  top: 200px;
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  /* or 93% */

  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -1px;

  /* General Color/3 */

  color: #ffffff;
}
.line1 {
  width: 55px;
  height: 0px;

  margin: 40px 0;

  /* Yellow */

  border: 3px solid #ffc947;
}
.main p {
  /* There are many variations of passages of Lorem Ipsum available, have suffered alteration in some form. */

  width: 633px;
  height: 62px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 180%;
  /* or 34px */

  text-align: center;
  letter-spacing: -0.01em;

  color: #b4c7e7;
}
@media all and (max-width: 1100px) {
  .main {
    font-size: 40px;
  }
  .text-block {
    font-size: 15px;
  }
  .main p {
    font-size: 15px;
    width: 80%;
  }
  .line1 {
    width: 35px;
    border: 1.5 px solid #ffc947;
    margin: 20px 0;
  }
}
.about-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 30px;
}
@media (max-width: 1100px) {
  .about-section {
    flex-direction: column !important;
    display: flex;
  }
  .about1,
  .about2 {
    width: 100% !important;
    height: 50% !important;
    padding: 20px !important;
  }
}
.about1,
.about2 {
  width: 50%;
  display: flex;
  align-items: center;

  height: 100vh;
}
.about1 {
  justify-content: center;
}
.about1 img {
  width: 444px;
  height: 503px;
}
.about2 {
  flex-direction: column;
  height: auto !important;
  padding-bottom: 30px;
}
.about2 h1 {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  /* or 54px */

  letter-spacing: -0.02em;

  color: #1b3764;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 1100px) {
  .about1 img {
    margin: 30px 0;
    padding: 30px 0;
  }
  .section-title {
    margin: 30px;
  }
  .about2 h1 {
    font-size: 20px !important;
  }
  .about2 .p {
    font-size: 7.5px !important;
  }
  .about2 .content {
    font-size: 11.5px !important;
    font-size: 11.5px !important;
  }
}
.about2 .p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 180%;
  /* or 34px */

  letter-spacing: -0.01em;

  color: #969aa0;
  width: 100%;
  text-align: left;
}
.about2 .content {
  width: 100%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 180%;
  /* or 43px */

  text-align: justify;
  letter-spacing: -0.01em;

  color: #969aa0;
}
.about2 .cb {
  width: 100%;
  justify-content: flex-start;
  margin-top: 30px;
}

.about2 .cb .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 33px;
  gap: 10px;

  width: 226px;
  height: 50px;

  background: #ffca42;
}
/*expertise*/
.story-count,
.story-detail-title {
  color: #1b3764;
}
.story-detail-content {
  color: #969aa0;
}
.story-content-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1000px) {
  .story-detail-content {
    color: #969aa0;
    width: 80vw;
  }
  .story-content-wrap {
    flex-direction: column;
  }
  .story-item-wrap,
  .section-title {
    width: 80%;
  }
}
.section-title {
  padding-left: 180px;
}
.story-item-wrap,
.section-title {
  width: 50%;
  height: 100vh;
}
.section-title {
  padding-bottom: 10px;
  text-align: center;
}
.section-title.left {
  padding-bottom: 20px;
  text-align: left;
}
.section-title.password-title {
  margin-bottom: 30px;
}
.title-text {
  font-family: Cardo, sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;

  color: #1b3764;
}
.title-text.white-text {
  color: #fff;
  font-size: 42px;
}
.title-separator {
  width: 50px;
  height: 3px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffca42;
}
.title-separator.left {
  margin-left: 0;
}
.title-separator.blue-line {
  background-color: #1b3764;
}
.section-title-content {
  padding-top: 25px;
  font-size: 19px;
  text-align: center;
}
.section-title-content.title-left {
  padding-top: 28px;
  line-height: 1.8;
  text-align: left;
}
.section-title-content.white-left-content {
  color: #b4c7e7;
  font-size: 18px;
  text-align: left;
}
.section-title-content.primary-title-content {
  color: #1b3764;
  font-weight: 400;
}
.about-content-details {
  padding-top: 20px;
}
.my-story-section {
  padding-top: 70px;
  padding-bottom: 80px;
}
.story-grid {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 60px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.story-item-wrap {
  padding-top: 20px;
  padding-left: 0;
}
.story-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.story-item-wrap {
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.story-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Inter, sans-serif;

  font-size: 19px;
  line-height: 1.5;

  padding-bottom: 0;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.story-steps-line {
  display: block;
  width: 2px;
  height: 100%;
  min-height: 55px;
  margin-right: auto;
  margin-left: auto;
  border: 1px dashed #969aa0;
}
.story-icon-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65px;
  height: 65px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffca42;
}
.story-item-content {
  padding-left: 30px;
}
.story-detail-title {
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}
.story-steps-line {
  display: block;
  width: 2px;
  height: 100%;
  min-height: 55px;
  margin-right: auto;
  margin-left: auto;
  border: 1px dashed #969aa0;
}
.story-steps-line.hide {
  display: none;
}
.story-image-wrap {
  position: relative;
  padding-top: 60px;
}
.story-author-image {
  position: relative;
  z-index: 2;
  box-shadow: 0 0 20px 0 rgba(27, 55, 100, 0.21);
}

/*


====
====
----
addition
----
====
====

*/
