.hero {
  background: #1b4e64 !important;
  height: 527px !important;
  position: relative;
}
.main {
  position: absolute;
  width: 100%;
  height: 280px;
  text-align: center;
  top: 200px;
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  /* or 93% */

  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -1px;

  /* General Color/3 */

  color: #ffffff;
}
.line1 {
  width: 55px;
  height: 0px;

  margin: 40px 0;

  /* Yellow */

  border: 3px solid #ffc947;
}
.main p {
  /* There are many variations of passages of Lorem Ipsum available, have suffered alteration in some form. */

  width: 633px;
  height: 62px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 180%;
  /* or 34px */

  text-align: center;
  letter-spacing: -0.01em;

  color: #b4c7e7;
}
@media all and (max-width: 1100px) {
  .hero {
    height: 50vh !important;
  }
  .main {
    font-size: 40px;
    top: 120px !important;
  }
  .text-block {
    font-size: 15px;
  }
  .main p {
    font-size: 15px;
    width: 80%;
  }
  .line1 {
    width: 35px;
    border: 1.5 px solid #ffc947;
    margin: 20px 0;
  }
}

.sec {
  min-height: 100vh;
  padding-top: 20vh;
}
h1 {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 57px;

  color: #000000;
  text-align: center;
}
/*////////////////////////////////////////form bookme//////////////////////*/

form input {
  display: block !important;
}
/** float container */
.float-container {
  border: solid 1px #ccc;
  box-sizing: border-box;
  margin-bottom: 8px;
  padding: 0 8px;
  position: relative;
  width: 300px;
  /** active label */
}
.float-container input {
  border: none;
  font-size: 16px;
  outline: 0;
  padding: 16px 0 10px;
  width: 100%;
}
.float-container label {
  font-size: 16px;
  position: absolute;
  transform-origin: top left;
  transform: translate(0, 16px) scale(1);
  transition: all 0.1s ease-in-out;
}
.float-container.active label {
  transform: translate(0, 4px) scale(0.75);
}
/*////////////////////////////////////////nav sticky//////////////////////*/

/*////////////////////////////////////////form padding//////////////////////*/
.sec {
  padding-bottom: 30px !important;
}
@media (max-width: 900px) {
  .sec {
    padding: 30px 10px !important;
  }
  .sec form {
    padding: 10px !important;
  }
}
