.hero {
  background: url("/asset/image/background\ \(2\).png") !important;
  height: 70vh !important;
  padding-top: 15px;
  position: relative;
  background-size: cover;
}
.product-listing-wrap {
  padding: 50px !important;
}
.main {
  position: absolute;
  width: 100%;
  height: 280px;
  text-align: center;
  top: 200px;
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  /* or 93% */

  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -1px;

  /* General Color/3 */

  color: #ffffff;
}
.line1 {
  width: 55px;
  height: 0px;

  margin: 40px 0;

  /* Yellow */

  border: 3px solid #ffc947;
}
.main p {
  /* There are many variations of passages of Lorem Ipsum available, have suffered alteration in some form. */

  width: 633px;
  height: 62px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 180%;
  /* or 34px */

  text-align: center;
  letter-spacing: -0.01em;

  color: #b4c7e7;
}
@media all and (max-width: 1100px) {
  .hero {
    height: 65vh !important;
  }
  .main {
    font-size: 40px;
    top: 100px !important;
  }
  .text-block {
    font-size: 15px;
  }
  .main p {
    font-size: 15px;
    width: 80%;
  }
  .line1 {
    width: 35px;
    border: 1.5 px solid #ffc947;
    margin: 20px 0;
  }
}

/*/////////medias-section///////////////*/
.medias-section {
  width: 100% !important;
  padding-right: 80px;
  padding-left: 60px;
  padding-top: 50px;
}
.media-box1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}
.media-text {
  margin-left: 30px;
}

.image-box {
  width: 401px !important;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px !important;
  background: rgba(177, 141, 28, 0.2) !important;
}
.media-head {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 6px;
}
.media-head-para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  width: 584.5px;
  line-height: 26px;
  margin-bottom: 28px;
}
.media-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px 22.72px 10.85px 21px;
  background: #b18d1c;
  width: 197.72px;
  height: 42.85px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px 22.72px 10.85px 21px;

  width: 197.72px;
  height: 42.85px;
  /*text-style*/
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  margin-bottom: 31px;
}
.media-para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  /* or 110% */

  display: flex;
  align-items: center;

  color: #000000;
  margin-bottom: 10px;
}

.media-para-fade {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */

  letter-spacing: -0.01em;

  color: #969aa0;
}

.big-img {
  height: 500px;
  width: 100%;
  display: flex;
  background: rgba(177, 141, 28, 0.2);
  align-items: center;
  justify-content: center;
}
