@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap");

.hero {
  background: url("/asset/image/Banner\ \(5\)\ 1.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  height: 60vh !important;
  position: relative;
  padding-top: 15px;
}
body {
  background-color: #fff !important;
}
.main {
  position: absolute;
  width: 100%;
  height: 280px;
  text-align: center;
  top: 200px;
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  /* or 93% */

  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -1px;

  /* General Color/3 */

  color: #ffffff;
}
.line1 {
  width: 55px;
  height: 0px;

  margin: 40px 0;

  /* Yellow */

  border: 3px solid #ffc947;
}
.main p {
  /* There are many variations of passages of Lorem Ipsum available, have suffered alteration in some form. */

  width: 633px;
  height: 62px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 180%;
  /* or 34px */

  text-align: center;
  letter-spacing: -0.01em;

  color: #b4c7e7;
}
@media all and (max-width: 1100px) {
  .hero {
    height: 50vh !important;
  }
  .main {
    font-size: 40px;
    top: 120px !important;
  }
  .text-block {
    font-size: 15px;
  }
  .main p {
    font-size: 15px;
    width: 80%;
  }
  .line1 {
    width: 35px;
    border: 1.5 px solid #ffc947;
    margin: 20px 0;
  }
}
/*////////////////////////speak/////////////*/
.speak {
  width: 100%;
  height: 130px;
  background: #f6f7f9;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  padding-top: 60px;
  color: #000000;

  font-size: 40px;
  line-height: 48px;
  text-align: center;
}
@media (max-width: 900px) {
  .speak {
    padding: 0;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
  }
}
/*////////////////////////details/////////////*/
.details {
  width: 100%;
  height: 330px;
  border-bottom: 4px solid #f6f7f9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.border {
  width: 651px;
  height: 200.96px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border: 1.5px solid hsla(0, 0%, 38%, 0.7);
}
.lists li {
  color: #232323;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160.5%;
  /* or 29px */

  letter-spacing: -0.01em;
  list-style-image: url("/asset/image/Vector\ \(1\).svg");
}
@media (max-width: 900px) {
  .details {
    border: none;
    height: 344px;
  }
  .border {
    border: none;
    width: 330px;
    height: 260px;
  }
  .lists li {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 154.5%;
    /* or 29px */

    letter-spacing: -0.01em;
  }
}
/*////////////////////////sec/////////////*/
.sec {
  min-height: 100vh;
  padding-top: 20vh;
}
h1 {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;

  color: #000000;
  text-align: center;
}
@media (max-width: 900px) {
  .sec {
    background: #f0f0f2;
  }
}
/*////////////////////////////////////////form bookme//////////////////////*/

form input {
  display: block !important;
}
/** float container */
.float-container {
  border: solid 1px #ccc;
  box-sizing: border-box;
  margin-bottom: 8px;
  padding: 0 8px;
  position: relative;
  width: 300px;
  /** active label */
}
.float-container input {
  border: none;
  font-size: 16px;
  outline: 0;
  padding: 16px 0 10px;
  width: 100%;
}
.float-container label {
  font-size: 16px;
  position: absolute;
  transform-origin: top left;
  transform: translate(0, 16px) scale(1);
  transition: all 0.1s ease-in-out;
}
.float-container.active label {
  transform: translate(0, 4px) scale(0.75);
}
/*////////////////////////////////////////nav sticky//////////////////////*/

/*////////////////////////////////////////form padding//////////////////////*/
.sec {
  padding-bottom: 30px !important;
}

.sec h1 {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  /* identical to box height */

  color: #000000;
}
@media (max-width: 900px) {
  .sec {
    padding: 30px 20px !important;
  }
  .sec form {
    padding: 10px !important;
  }
}

/*enbeded form*/
.dvYvWd {
  border-radius: 0px !important;
}
/*//////////////////////////////form////////////////////////////////////////*/
.liSNdQ {
  margin-top: 50px !important;
}
.jNmHVy {
  width: 293px !important;
  height: 65px !important;
  font-family: "Montserrat";
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 24px !important;
}
@media (min-width: 900px) {
  .jeDsHq {
    transform: scale(0.5) !important;
  }
}
.jLauxp {
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #333333 !important;
}

.bzaayB,
.TextControlBase__TextControlBaseInput-sc-17e5ls8-4 {
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #333333 !important;
}
@media (max-width: 900px) {
  .sec h1 {
    font-size: 22px !important;
  }
  .WidgetBackground__Container-sc-1ho7q3r-0 .dvYvWd {
    padding: 29px 10px !important;
  }
  .WidgetBackground__Container-sc-1ho7q3r-0 .dvYvWd {
    padding: 29px 10px !important;
  }
  .dvYvWd {
    padding: 29px 10px !important;
  }
  .liSNdQ {
    margin-top: 40px !important;
  }
  .jeDsHq {
    transform: scale(0.4) !important;
  }
  .jLauxp {
    font-family: "Montserrat" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #333333 !important;
  }

  .bzaayB {
    font-family: "Montserrat" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #333333 !important;
  }
  form input {
    width: 323px !important;
    height: 65px !important;
  }
}
