@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300 !important;400 !important;500 !important;600 !important;700&display=swap");
.container {
  max-width: 1170px !important;
  margin: auto !important;
}
.row {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row-reverse !important;
  width: 100% !important;
  justify-content: space-between !important;
}
.container ul {
  list-style: none !important;
}
.footer {
  background: #232323 !important;
  border-top: 3px solid #131313 !important;

  padding: 70px 0 !important;
}
.footer-col {
  width: 25% !important;
  padding: 0 15px !important;
}
.footer-col h4 {
  font-size: 24px !important;
  color: #ffffff !important;
  text-transform: capitalize !important;
  margin-bottom: 35px !important;
  font-weight: 500 !important;
  font-family: "Cardo" !important;
  position: relative !important;
}
.footer-col ul span {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 15px !important;
  line-height: 180% !important;
  /* or 32px */

  letter-spacing: -0.01em !important;

  color: #929292 !important;
}
.footer-col h4::before {
  content: "" !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -10px !important;

  height: 2px !important;
  box-sizing: border-box !important;
  width: 50px !important;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px !important;
}
.footer-col ul li a,
.footer-col ul li button {
  font-size: 16px !important;
  text-transform: capitalize !important;
  color: #ffffff !important;
  text-decoration: none !important;
  font-weight: 300 !important;
  border: none !important;
  text-align: left !important;
  background: transparent !important;
  cursor: pointer !important;

  display: block !important;
  transition: all 0.3s ease !important;
}
#text2 {
  text-transform: none !important;
  font-size: 13px !important;
}
.footer-col ul li a i {
  font-family: "Font Awesome 5 Brands" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 120% !important;
  /* identical to box height, or 22px */

  text-align: center !important;
  letter-spacing: 0.055em !important;
  text-transform: uppercase !important;

  color: #ffffff !important;
}

.footer-col ul li a:hover {
  color: #ffffff !important;
  padding-left: 8px !important;
}
.footer-col ul li button:hover {
  color: #ffffff !important;
  padding-left: 8px !important;
}
.footer-col .social-links a {
  color: #ffffff !important;
  border: 1px #c58e2d solid !important;
  width: 55px !important;
  margin: 5px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 55px !important;
}
.footer-col .social-links a i {
  font-family: "Font Awesome 5 Brands" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
}
.footer-col .social-links a:hover {
  color: #24262b !important;
  background: #c58e2d !important;
}
.footer-col .social-links a:hover .footer-col .social-links a i {
  color: #24262b !important;
}
.social {
  display: flex !important;
  flex-direction: row !important;
  list-style: none !important;
}
/*responsive*/
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse !important;
  }
  .footer-col {
    width: 50% !important;
    margin-bottom: 30px !important;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100% !important;
  }
}
/*b-line*/
footer .b-line-c {
  margin-top: 30px !important;
}
footer .b-line-c,
footer .b-c {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  margin: 10px 0 !important;
}
footer .b-line {
  width: 80% !important;
  height: 0px !important;

  opacity: 0.2 !important;
  border: 1px solid #ffffff !important;
}
footer .b-text {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 17px !important;
  line-height: 200% !important;
  /* identical to box height, or 34px */

  letter-spacing: -0.01em !important;

  color: #929292 !important;
}
