@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap");
* {
  opacity: 1 !important;
}
body {
  background: #ffffff;
}
.hero {
  position: relative;
  width: 100%;

  overflow: hidden;
  padding-top: 30px;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;

  clear: both;
}
body {
  overflow: hidden visible;
}

.main {
  position: absolute;
  width: 100%;
  height: 280px;
  text-align: center;
  top: 20px;

  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  /* font-size: 150px;*/
  font-size: clamp(60px, 10%, 100px);
  line-height: 100px;
  /* or 93% */

  text-align: center;
  letter-spacing: -1px;

  /* General Color/3 */

  color: #ffffff;
}

.hero-container {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;

  justify-content: flex-s !important;
  align-items: flex-end !important;
  padding: 0 60px !important;
  bottom: 0px !important;
  position: relative !important;
  object-position: center bottom !important;
}

.hero {
  overflow: hidden;
}
.hero-img {
  bottom: 0px !important;
  position: relative !important;
  object-position: 100% 10%;
}
.get {
  height: 50px !important;
}
@media (max-width: 900px) {
  .hero-row2 {
    right: -19px !important;
    padding-right: 0px;
  }
}
@media (max-width: 800px) {
  .hero {
    background-size: cover !important;
    height: 1280px !important;
  }
}

.hero-row1 {
  padding-left: 30px;

  object-position: left top !important;
}
.hero-row1 h1 {
  /* Bold/100px */
  margin-bottom: 0 !important;

  font-family: "Space Grotesk" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 100px !important;

  /* or 76% */

  letter-spacing: -1px !important;

  color: #ffffff !important;

  /* Inside auto layout */

  flex: none !important;
  order: 0 !important;
  flex-grow: 0 !important;
}

.first {
  display: block !important;
  margin-top: 135px !important;
}
.second {
  display: none !important;
}
.hero-row1 p {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;

  /* or 159% */

  letter-spacing: -1px;

  color: #ffffff;
}
.hero-row2 {
  width: 50% !important;
  height: 100% !important;

  object-position: center bottom !important;
}
.hero-row2 img {
  margin-top: 10px;
  width: 528px !important;
  height: 575px !important;
}
.erect {
  position: relative !important;
  clear: both !important;
  margin-top: 5px !important;
}

.erect a {
  text-decoration: none !important;
}
@media (max-width: 899px) {
  .hero {
    height: 100vh !important;
  }

  .hero-row1 h1 {
    font-size: 40px !important;
    margin-top: 100px !important;
  }
  .lines {
    width: 40px !important;
    margin: 10px 0 !important;
  }
  .first {
    display: none !important;
  }
  .second {
    display: block !important;
    margin-left: -60px;
    border-radius: 15px !important;
  }
  .hero-container {
    flex-direction: column !important;
    align-items: flex-start !important;
    height: 100% !important;
    justify-content: center !important;
    position: absolute !important;
    top: 20px !important;
    padding: 0 !important;
  }
  .hero-row1 {
    width: 100% !important;
    height: auto !important;

    position: absolute !important;
    top: 20px !important;
    padding-left: 30px !important;
  }
  .hero-row2 {
    width: 85% !important;
    position: absolute !important;
    justify-content: center !important;
    height: auto !important;
    align-items: center;
  }
  .hero-row2 img {
    margin-left: 15px !important;
    width: 246.99px !important;
    height: 269.49px !important;
  }
  .hero-row1 h1 {
    font-size: 50px !important;
    width: 100% !important;
  }
  .hero-row1 p {
    width: 86% !important;
    font-size: 16px !important;
  }

  .hero-row2 img {
    width: 324px !important;
    height: 366px !important;
  }
  .erect {
    position: relative !important;
    clear: both !important;
    margin: 0 !important;
  }
}
/*hero container*/

.hero-container {
  width: 100% !important;
  height: 50% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 60px !important;
}

@media (min-width: 1100px) {
  .hero-container {
    position: absolute !important;
    bottom: 200px !important;
  }
}

.get {
  height: 50px !important;
}
@media (max-width: 800px) {
  .hero {
    background-size: cover !important;
    height: 1280px !important;
  }
}

.hero-row1 {
  padding-left: 30px;
  width: 100% !important;
  height: auto !important;
  display: flex !important;
  flex-direction: column !important;
}
.hero-row1 h1 {
  /* Bold/100px */

  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: auto;
  /* or 95% */

  letter-spacing: -1px;

  /* General Color/3 */

  color: #ffffff !important;
}

.first {
  display: block !important;
  margin-top: 135px !important;
}
.second {
  display: none !important;
}
.hero-row1 p {
  width: 400px !important;
  height: auto !important;

  /* Medium/21px */

  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 21px !important;

  /* or 162% */

  /* General Color/3 */

  color: #ffffff !important;

  opacity: 0.8 !important;
  margin-bottom: 10px;
}
.hero-row2 {
  width: 50% !important;
  height: 100% !important;
  display: flex !important;
  align-items: flex-start !important;
  justify-content: start !important;
  justify-content: flex-start !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.hero-row2 img {
  width: 528px !important;
  height: 575px !important;
}
.erect {
  position: relative !important;
  clear: both !important;
  margin-top: 5px !important;
}

.erect a {
  text-decoration: none !important;
}
@media (max-width: 899px) {
  .hero {
    height: 100vh !important;
  }

  .hero h1 {
    font-size: 40px !important;

    width: 86% !important;
  }

  .first {
    display: none !important;
  }
  .second {
    display: block !important;
    margin-left: -60px;
    border-radius: 15px !important;
  }
  .hero-container {
    flex-direction: column !important;
    align-items: flex-start !important;
    height: 100% !important;
    justify-content: flex-end !important;
    position: absolute !important;
    top: 100px !important;
    padding: 0 !important;
  }
  .hero-row1 {
    width: 100% !important;
    height: 20vh !important;

    position: absolute !important;
    padding-left: 30px !important;
  }
  .hero-row2 {
    width: 85% !important;
    position: absolute !important;
    justify-content: center !important;
    height: auto !important;
    align-items: center;
    bottom: 100px !important;
  }
  .hero-row2 img {
    margin-left: 15px;
  }
  .hero-row1 h1 {
    font-size: 50px !important;
    width: 100% !important;
  }
  .hero-row1 p {
    width: 86% !important;
    font-size: 16px !important;
  }

  .hero-row2 img {
    width: 324px !important;
    height: 366px !important;
  }
  .erect {
    position: relative !important;
    clear: both !important;
    margin: 0 !important;
  }
}

/*/////////////////////////////////////////////////////////*/
.fa,
.fas {
  margin-top: 30px !important;
}
/* marquee text*/
/*.marquee {
  position: static;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 30px 0;

}
.marquee ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 109px;

  position: absolute;
}*/
.marquee {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;

  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-column-gap: 1rem;
  background-color: #fff7e3;
}

.marquee-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-column-gap: 1rem;
}
.text-block {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 48px;
  margin: 0 50px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.scroll {
  animation: scroll 30s linear infinite;
}
.reverse {
  animation-direction: reverse;
}

.marquee ul li {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #000000;
}
@media (max-width: 800px) {
  .marquee ul li {
    font-size: 22px;
  }
  .marquee {
    padding: 10px;
  }
}
/*///////////////
about us
////////////////*/
@media (max-width: 700px) {
  .up {
    background: #ffffff;
  }
}
.about-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 30px;
  padding-top: 5px !important;
  background: #ffffff;
}
@media (max-width: 1100px) {
  .about-section {
    flex-direction: column-reverse !important;
    display: flex;
  }
  .about1,
  .about2 {
    height: 50% !important;
  }
  .about1 {
    margin-bottom: 0px !important;
    width: 80% !important;
    padding: 20px !important;
    margin: 20px;
  }
  .about2 {
    width: 100% !important;
  }
}
.about1,
.about2 {
  width: 50%;
  display: flex;
  align-items: center;

  height: 100vh;
}
.about1 {
  margin-bottom: 50px;
  justify-content: center;
}
.about1 img {
  width: 444px;
  height: 503px;
}
.about2 {
  flex-direction: column;
  height: auto !important;
  padding-bottom: 30px;
}
.about2 h1 {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  /* or 54px */

  letter-spacing: -0.02em;

  color: #000000;
  text-align: left !important;

  margin-bottom: 20px;
}
.about2 .p {
  font-family: "Cardo" !important;
  font-style: normal !important;

  height: 38px !important;
  color: #ffca42 !important;
  font-family: "Cardo" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 120% !important;
  /* or 38px */

  letter-spacing: -0.02em !important;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: left !important;
}
@media (max-width: 1100px) {
  .about1 img {
    margin: 0 !important;
  }
  .section-title {
    margin: 0 0 !important;
  }
  .about2 h1 {
    font-size: 20px !important;
  }
  .about2 .p {
    height: auto;
    margin-top: 31px;
    font-size: 20px !important;
  }

  .about2 .content {
    font-size: 11.5px !important;
    font-size: 11.5px !important;
  }
}

@media (max-width: 600px) {
  .about1 img {
    margin: 30px 0;
    padding: 30px 0;
    width: 404px;
    height: 463px;
  }
}
.about2 .p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 180%;
  /* or 34px */

  letter-spacing: -0.01em;

  color: #969aa0;
  width: 100%;
  text-align: left;
}
.about2 .content {
  width: 100%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 180%;
  /* or 43px */

  text-align: justify;
  letter-spacing: -0.01em;

  color: #969aa0;
}
.about2 .cb {
  width: 100%;
  justify-content: flex-start;
  margin-top: 30px;
}

.about2 .cb .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 33px;
  gap: 10px;

  width: 226px;
  height: 50px;

  background: #ffca42;
}
