@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap");
.hero {
  padding-top: 30px;
  background: url(../asset/image/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;

  clear: both;
}
body {
  overflow: hidden visible;
}
@media (max-width: 800px) {
  .article-card {
    margin: 20px 0 !important;
  }
  .hero,
  .quote {
    background-size: cover !important;
  }
}
.main {
  position: absolute;
  width: 100%;
  height: 280px;
  text-align: center;
  top: 200px;

  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  /* font-size: 150px;*/
  font-size: clamp(60px, 10vw, 150px);
  line-height: 100px;
  /* or 93% */

  text-align: center;
  letter-spacing: -1px;

  /* General Color/3 */

  color: #ffffff;
}
.line1 {
  position: absolute;
  width: 120px;
  height: 0px;
  left: 45vw;
  margin-top: 40px;

  /* Yellow */

  border: 3px solid #ffc947;
}
@media all and (max-width: 1100px) {
  .main {
    /*font-size: 70px;*/
  }
  .text-block {
    font-size: 15px;
  }
  .quote-text {
    font-size: 40px !important;
  }
  .line1 {
    width: 60px;
    border: 3px solid #ffc947;
    margin-top: 25px;
  }
}

.fa,
.fas {
  margin-top: 30px !important;
}
/* marquee text*/
/*.marquee {
  position: static;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 30px 0;

}
.marquee ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 109px;

  position: absolute;
}*/
.marquee {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-column-gap: 1rem;
  background-color: #fff7e3;
}

.marquee-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-column-gap: 1rem;
}
.text-block {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin: 0 50px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.scroll {
  animation: scroll 30s linear infinite;
}
.reverse {
  animation-direction: reverse;
}

.marquee ul li {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #000000;
}
@media (max-width: 800px) {
  .marquee ul li {
    font-size: 22px;
  }
  .marquee {
    padding: 10px;
  }
}

/* article and resources*/
.article {
  width: 100%;
  min-height: 100vh;
  padding: 10% 0;
  background: #f4f8ff;
  display: flex;
  flex-direction: column;
}
.arhead {
  width: 100%;
  text-align: center;
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 120%;
}
.line2-container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.line2 {
  width: 55px;
  height: 0px;

  border: 3px solid #ffca42;
}
/* articles container*/
.articles-container {
  width: 100%;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article-card {
  height: 448px;
  margin: 20px 20px;
  width: 278px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 35px 25px rgba(4, 11, 20, 0.04);
  background-color: #ffffff;
}
@media (max-width: 800px) {
  .articles-container {
    flex-direction: column;
    padding-right: 50px !important;
  }
  .article,
  .quote {
    height: auto !important;
    padding: 30px 50px !important;
  }
  .quote-text {
    font-size: 22px !important;
  }
}

.articles-container .article-card img {
  width: 100%;
  height: 50%;
}
.articles-container .article-card .article-context {
  width: 100%;
  height: 50%;
  padding: 27px 32px 27px 31px;
}
.articles-container .article-card .article-context h3 {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 120%;
  /* or 29px */

  letter-spacing: -0.02em;

  color: #1b3764;

  /* Inside auto layout */
}
.article .articles-container .article-card .article-context p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  /* or 34px */

  letter-spacing: -0.01em;

  color: #969aa0;
}

.article .articles-container .article-card .article-context .details {
  width: 100%;
  display: flex;
  height: 25%;
  align-items: center;
  justify-content: space-between;
}

.article .articles-container .article-card .article-context .details div a {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 125%;
  /* identical to box height, or 22px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #1b3764;
}

.article .articles-container .article-card .article-context .details .date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 125%;
  /* or 21px */

  display: flex;
  align-items: center;
  text-align: right;

  color: #1b3764;
}
/*quote section*/
.quote {
  width: 100%;
  height: 100vh;

  background: linear-gradient(
      0deg,
      rgba(27, 55, 100, 0.8),
      rgba(27, 55, 100, 0.8)
    ),
    url(../asset/image/DSC02136\ 1.png);
  background-size: 100% 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}
.quote-text {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 120%;
  /* or 96px */

  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}
.small-name {
  font-family: "Cardo";
  font-style: normal;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  /* or 30px */

  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}

.c-product-tray__heading {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 120%;
  /* or 54px */
  margin-top: 30px;

  text-align: center;
  letter-spacing: -0.02em;

  color: #1b3764;
}
/*tweet link dis-able*/
@media (min-width: 600px) {
  .splide__track
    .splide__track--loop
    .splide__track--ltr
    .splide__track--draggable {
    transform: scale(0.5) !important;
  }
}

/*////////////////////////////////////////nav sticky//////////////////////*/
.sticky {
  width: 100%;
  padding-top: 15px;
  background: #1b3764;
  position: fixed;
  top: 0;
  z-index: 99999;
}
