@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap");

.hero-container {
  width: 100% !important;
  height: 50% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 0 60px !important;
}
.hero {
  height: 100vh !important;
  padding-bottom: 50px !important;
}
.get {
  height: 50px !important;
}
@media (max-width: 800px) {
  .hero {
    background-size: cover !important;
    height: 1280px !important;
  }
}

.hero-row1 {
  padding-left: 30px;
  width: 50% !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}
.hero-row1 h1 {
  /* Bold/100px */

  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 105px;
  line-height: 100px;
  /* or 95% */

  letter-spacing: -1px;

  /* General Color/3 */

  color: #ffffff !important;
}
.lines {
  width: 80px !important;
  height: 0px !important;
  margin-left: 400px !important;
  margin-top: 10px !important;
  margin-bottom: 30px !important;

  /* Yellow */

  border: 3px solid #ffc947 !important;
}
.first {
  display: block !important;
  margin-top: 135px !important;
}
.second {
  display: none !important;
}
.hero-row1 p {
  width: 400px !important;
  height: auto !important;

  /* Medium/21px */

  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 21px !important;

  /* or 162% */

  /* General Color/3 */

  color: #ffffff !important;

  opacity: 0.8 !important;
  margin-bottom: 10px;
}
.hero-row2 {
  width: 50% !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.hero-row2 img {
  margin-top: 10px;
  width: 528px !important;
  height: 575px !important;
}
.erect {
  position: relative !important;
  clear: both !important;
  margin-top: 5px !important;
}

.erect a {
  text-decoration: none !important;
}
@media (max-width: 899px) {
  .hero {
    height: 100vh !important;
  }
  h1 {
    font-size: 40px !important;
    line-height: 00px;
    width: 86% !important;
  }
  .lines {
    width: 40px !important;
    margin: 10px 0 !important;
  }
  .first {
    display: none !important;
  }
  .second {
    display: block !important;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15) !important;
    border-radius: 15px !important;
  }
  .hero-container {
    flex-direction: column !important;
    align-items: flex-start !important;
    height: 100% !important;
    justify-content: flex-end !important;
    position: absolute !important;
    top: 100px !important;
  }
  .hero-row1 {
    width: 86% !important;
    height: auto !important;
    margin-bottom: 90px !important;
    position: absolute !important;
    top: 100px !important;
  }
  .hero-row2 {
    margin-top: 90px !important;
    width: 85% !important;
    position: absolute !important;
    justify-content: center !important;
    height: auto !important;
    align-items: center;
    top: 50vh !important;
  }
  .hero-row2 img {
    margin-top: 20% !important;
  }
  .hero-row1 h1 {
    font-size: 50px !important;
    width: 60% !important;
  }
  .hero-row1 p {
    width: 86% !important;
    font-size: 16px !important;
  }

  .lines {
    width: 60px !important;
    height: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;

    /* Yellow */

    border: 1.5px solid #ffc947 !important;
  }

  .hero-row2 img {
    width: 324px !important;
    height: 366px !important;
  }
  .erect {
    position: relative !important;
    clear: both !important;
    margin: 0 !important;
  }
}
/* contact form*/
#contact {
  position: relative !important;
}
.contact-section {
  width: 100% !important;
  height: 100vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.containerform {
  background-color: #ffca42 !important;
  width: 70% !important;

  padding: 35px 150px !important;
  transform: translate(-50%, -50%) !important;
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  border-radius: 10px !important;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15) !important;
}
.h1 {
  font-size: 30px !important;
  text-align: center !important;
  color: #1c093c !important;
}
@media (max-width: 700px) {
  .h1 {
    font-size: 28px !important;
    text-align: justify !important;
  }
}
.p {
  position: relative !important;
  margin: auto !important;
  font-size: 20px !important;
  width: 100% !important;
  text-align: center !important;

  font-size: 14px !important;
  font-weight: 400 !important;
}
.form {
  width: 100% !important;
  min-width: 320px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  position: relative !important;
  margin: 30px auto 0 auto !important;
}
.rowf {
  width: 100% !important;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  grid-gap: 20px 30px !important;
  margin-bottom: 20px !important;
}

textarea,
input {
  width: 100% !important;
  font-weight: 400 !important;
  padding: 8px 10px !important;

  border: 1.2px solid rgb(27, 78, 100) !important;
  margin-top: 5px !important;
}
textarea {
  resize: none !important;
}
textarea:focus,
input:focus {
  outline: none !important;
  border-color: #6f6df4 !important;
}
form input {
  background: transparent !important;
  display: block !important;
}
.formbutton,
#formbutton {
  border: none !important;
  width: 193px !important;
  padding: 10px 20px !important;
  background: #1b4e64 !important;
}
.formbutton:hover {
  background: #325894 !important;
}
#formbutton:hover {
  background: #325894 !important;
}
.formbutton:active {
  background: #85abe8 !important;
}
#formbutton:active {
  background: #85abe8 !important;
}
@media (max-width: 950px) {
  .containerform {
    width: 85% !important;
    padding: 35px 50px !important;
  }
  .form {
    padding: 0 10px !important;
  }
  .p,
  .h1 {
    text-align: left !important;
  }
  input {
    width: 90% !important;
  }
  .formbutton,
  #formbutton {
    width: 93px !important;
  }
}
/*////////////////////////////////////////nav sticky//////////////////////*/
.sticky {
  width: 100% !important;
  background: #1b4e64 !important;
  position: fixed !important;
  top: 0 !important;
  z-index: 99999 !important;
}
nav {
  margin-bottom: 50px !important;
}
@media (max-width: 990px) {
  nav {
    margin-bottom: 0 !important;
  }
}

/*////////////////////////////////////////heigth//////////////////////*/
@media (max-width: 990px) {
  #contact {
    margin-top: 50vh;
  }
}
