/**
 * Pen Resets
 */
* {
  margin: 0 !important;
  padding: 0 !important;
}

.tweet-section {
  height: 100% !important;
}

.tweet-section {
  font-size: 14px !important;
  line-height: 1.71428571;
}

/**
 * Content Wrapper
 */
.o-wrapper {
  min-width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

/**
 * Slider Product Trays
 */
.o-slider-product-tray {
  position: relative !important;
}

.o-slider-product-tray__inner {
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
}

.o-slider-product-tray__slide {
  list-style: none !important;
}

/**
 * Slider Controls
 *
 * 1. Vertically centre arrows with the product image.
 */
.o-slider-product-tray__controls {
  display: none !important;
}

@media screen and (min-width: 900px) {
  .o-slider-product-tray__controls {
    display: block !important;
  }
}
.o-slider-product-tray__button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border-width: 0 !important;
  background-color: transparent !important;
  cursor: pointer !important;
  margin-top: -40px !important;
  /* [1] */
  position: absolute !important;
  top: 50% !important;
}
.o-slider-product-tray__button:focus {
  outline: 0 !important;
}
.o-slider-product-tray__button[disabled] {
  cursor: default !important;
}

.o-slider-product-tray__button--prev {
  left: -24px !important;
}

.o-slider-product-tray__button--next {
  right: -24px !important;
}

.o-slider-product-tray__arrow {
  display: inline-block !important;
  fill: #aaa !important;
  height: 24px !important;
  width: 24px !important;
}
.o-slider-product-tray__arrow:hover {
  fill: #222 !important;
}
.o-slider-product-tray__button[disabled] .o-slider-product-tray__arrow {
  fill: #ddd !important;
}

.o-slider-product-tray__arrow--next {
  transform: scaleX(-1) !important;
}

/**
 * Product Trays
 */
.c-product-tray {
  margin-top: 96px !important;
  margin-bottom: 96px !important;
}

.c-product-tray__heading {
  font-size: 28px !important;
  line-height: 1.1428571429 !important;
  margin-bottom: 24px !important;
  text-align: center !important;
  text-align: center !important;
  width: 100%;
}

/**
 * Product Tiles
 */
.c-product-tile__image {
  margin-bottom: 8px !important;
}

.c-product-tile__name {
  font-size: 14px !important;
  line-height: 1.7142857143 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.c-product-tile__promo {
  background-color: red !important;
  color: white !important;
  font-size: 12px !important;
  line-height: 1 !important;
  padding: 4px !important;
  position: absolute !important;
  top: 0 !important;
  left: 0l !important;
}
