<section class="hero">
      <!--nav bar-->
      <nav>
        <div class="logo">
          <img
            src="./image/Shobowale Lukeman.png"
            class="logopng"
            alt=""
          />
        </div>
        <label for="btn" class="icon">
          <span class="fa fa-bars"></span>
        </label>
        <input type="checkbox" id="btn" />
        <ul class="nav">
          <li><a href="./index.html">Home</a></li>
          <li><a href="./SBI.html">SBI</a></li>
          <li>
            <label for="btn-1" class="show"
              >Resources <img src="./asset/image/Vector 13.svg" alt=""
            /></label>
            <a href="#"
              >Resources <img src="./asset/image/Vector 13.svg" alt=""
            /></a>
            <input type="checkbox" id="btn-1" />
            <ul>
              <li><a href="./article.html">Newsletter</a></li>
              <li><a href="./books.html">Books</a></li>
            </ul>
          </li>

          <li><a href="./about.html">About</a></li>
          <li class="get"><a href="#">Get Started</a></li>
        </ul>
      </nav>
      <div class="main">
        {{ title }}
        <div class="line1"></div>
        
        
      </div>
    </section>