  
      <section class=" a-hero , hero">
        <!--nav bar-->
        <nav id="nav">
          <div class="logo" id="logo">
            <a href="/index.html"
              ><img
                src="/asset/image/Shobowale Lukman.svg"
                class="logopng"

              alt=""
            /></a>
          </div>
          <label for="btn" class="icon">
            <span class="fa fa-bars"></span>
          </label>
          <input type="checkbox" id="btn" />
          <ul class="nav">
            <li><a href="/index.html">Home</a></li>
              <li><a href="/public/index.html">SBI</a></li>
            <li><a href="/books.html">Books and Media</a></li>
            

           
            <li><a href="/bookme.html">Book Me</a></li>
            <li class="full" ><div class="get , up"><a href="./SBI.html/#contact">Get Started</a></div></li>
          </ul>
        </nav>
      <div class="main , a-main ">
        {{ title }}
        <div class="line1"></div>
        
        
      </div>
    </section>