---
layout: 'base2.njk'
title: {{ post.data.title }}
---
    
<article class="main-article">
<div class="container container--narrow flow">
  
    
    <figure class="main-article__figure">
      <img src="/public{{ image }}" alt="{{ imageAlt }}" class="article-img">
      <figcaption>
        {{ imageAlt }}
      </figcaption>
    </figure>
    <figure class="main-article__figure">
      <img src="/public{{ bImage }}" alt="" class="article-img">
     
    </figure>
    
    
    {{ content | safe}}

</div>
</article>
