<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/src/style.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/nav.css">
   <link rel="stylesheet" href="/css/footer.css">
   <script href="/script/navscript.js">
   <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>SL</text></svg>">
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
   <script src="/script/navscript.js"></script>
  <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
     <!--data-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
     <!--preloader-->
    <link rel="stylesheet" href="./css/preloader.css">
    <script src="./script/navscript.js"></script>
</head>
<body>
 <!-- partial:index.partial.html -->
     <section class="preloader" id="preloader">
     <div class="loader">
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__ball"></div>
    </div>
  </section>
    <!-- partial -->

  {% include 'a-header.njk'  %}
  <main data-aos="fade-up" data-aos-duration="2000" data-aos-delay="500" data-aos-easing="ease-in-out" data-aos-offset="-200">
    {{ content | safe }}
  </main>
  {% include 'footer.njk' %}

  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init({
        once: true, // This option ensures the animation runs only once when the element is revealed.
    });
</script>

 <!--data-->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
    AOS.init();



    //////////////////////////////////
////////////////////////////////////////nav sticky/////////////
document.addEventListener("DOMContentLoaded", function () {
  var nav = document.getElementById("nav");
  var current_pos = nav.offsetTop;
  window.onscroll = function () {
    var window_pos = document.documentElement.scrollTop;
    if (window_pos >= current_pos) {
      nav.classList.add("sticky");
    } else {
      nav.classList.remove("sticky");
    }
  };
});
    </script>
</body>
</html>