<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/public/style.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/style.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/footer.css">
  <script href="/script/navscript.js"></script>
  
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
</head>
<body>
 
 
  {% include 'header.njk'  %}
  <main>
    {{ content | safe }}
  </main>
  {% include 'footer.njk' %}

  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }


///////////////////////////////const itemsPerPage = 4;
const articlesList = document.querySelector('#slides-container-li');
const pagination = document.querySelector('#pagination');
const articles = [...articlesList.children];

function showPage(pageNumber) {
  // Calculate the starting and ending index of the items to show on the page
  const startIndex = (pageNumber - 1) * itemsPerPage;
  const endIndex = startIndex + itemsPerPage;

  // Loop through all the items and show/hide them based on the index
  articles.forEach((article, index) => {
    if (index >= startIndex && index < endIndex) {
      article.style.display = 'block';
    } else {
      article.style.display = 'none';
    }
  });
}

function createPaginationButtons() {
  // Calculate the total number of pages
  const totalPages = Math.ceil(articles.length / itemsPerPage);

  // Loop through all the pages and create a button for each
  for (let i = 1; i <= totalPages; i++) {
    const button = document.createElement('button');
    button.textContent = i;
    button.addEventListener('click', () => {
      showPage(i);
      setActiveButton(i);
    });
    pagination.appendChild(button);
  }

  // Set the first button to active by default
  setActiveButton(1);
}

function setActiveButton(pageNumber)


/////////////

 </script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>

</body>
</html>