   <!--footer-->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Keep in Touch</h4>
            <ul>
              <li>
                <a href="#"
                  >address:<span>
                    24A Kingston St, Los Vegas NC 28202, New York.</span
                  ></a
                >
              </li>
              <li>
                <a href="#">Mail :<span> support@email.com</span></a>
              </li>
              <li>
                <a href="#">Phone :<span> (+22) 123 - 4567 - 900</span></a>
              </li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>useful links</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Books</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#"> Licenses </a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Explore</h4>
            <ul>
              <li><a href="./index.html">Home</a></li>
              <li><a href="./about.html">About Us</a></li>
              <li><a href="./books.html">Books</a></li>
              <li><a href="./article.html">Article</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>
              <img
                src="./asset/image/Shobowale Lukeman.png"
                style="width: 150px"
                alt=""
              />
            </h4>
            <div class="social-links">
              <ul class="social">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="b-line-c"><div class="b-line"></div></div>
      <div class="b-c"><div class="b-text">© SHOBOWALE LUKEMAN</div></div>
    </footer>
    <script>$(".icon").click(function () {
  $("span").toggleClass("cancel");
});
</script>