   <!--footer-->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Keep in Touch</h4>
            <ul>
              <li>
                <button >
                  address:
                  <span id="text1"
                    >24A Kingston St, Los Vegas NC 28202, New York.</span
                  >
                </button>
              </li>
              <li>
                <button >
                  Mail :<span id="text2"> support@email.com</span>
                </button>
              </li>
              <li>
                <button >
                  Phone :<span id="text3"> (+22) 123 - 4567 - 900</span>
                </button>
              </li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>useful links</h4>
            <ul>
              <li class="li"><a href="#">FAQ</a></li>
              <li class="li"><a href="https://www.amazon.com/s?i=digital-text&rh=p_27%3ALukman+Shobowale&s=relevancerank&text=Lukman+Shobowale&ref=dp_byline_sr_ebooks_1" target="_blank">Books</a></li>
              <li class="li"><a href="#">Terms & Conditions</a></li>
              <li class="li"><a href="#"> Licenses </a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Explore</h4>
            <ul>
              <li class="li"><a href="/index.html">Home</a></li>
              <li class="li"><a href="/about.html">About Us</a></li>
              <li class="li"><a href="https://www.amazon.com/s?i=digital-text&rh=p_27%3ALukman+Shobowale&s=relevancerank&text=Lukman+Shobowale&ref=dp_byline_sr_ebooks_1" target="_blank">Books</a></li>
              <li class="li"><a href="/public/index.html">Article</a></li>
              <li class="li"><a href="/SBI.html/#contact">Contact us</a></li>
            </ul>
          </div>
          <div class="footer-col">
             <h4><a href="/index.html"><img src="/asset/image/Shobowale Lukman.svg" style="width: 150px;" alt=""></a></h4>
            <div class="social-links">
              <ul class="social">
                <li class="li">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="li">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="li">
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="li">
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="b-line-c"><div class="b-line"></div></div>
      <div class="b-c"><div class="b-text">© SHOBOWALE LUKMAN</div></div>
    </footer>
    