
      <section class="hero">
        <!--nav bar-->
        <nav id="nav">
          <div class="logo" id="logo">
            <a href="/index.html"
              ><img
                src="/asset/image/Shobowale Lukman.svg"
                class="logopng"

            alt=""
          /></a>
        </div>
        <label for="btn" class="icon">
          <span class="fa fa-bars"></span>
        </label>
        <input type="checkbox" id="btn" />
        <ul class="nav">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/SBI.html">SBI</a></li>
          <li>
            <label for="btn-1" class="show"
              >Resources <img src="/asset/image/Vector 13.svg" alt="" class="drop"
            /></label>
            <a href="#"
              >Resources <img src="/asset/image/Vector 13.svg" alt=""class="drop"
            /></a>
            <input type="checkbox" id="btn-1" />
            <ul>
              <li><a href="/public/index.html">Newsletter</a></li>
              <li><a href="https://www.amazon.com/s?i=digital-text&rh=p_27%3ALukman+Shobowale&s=relevancerank&text=Lukman+Shobowale&ref=dp_byline_sr_ebooks_1" target="_blank">Books</a></li>
            </ul>
          </li>

          <li><a href="/bookme.html">Book Me</a></li>
          <li class="get , up"><a href="/SBI.html/#contact">Get Started</a></li>
        </ul>
      </nav>
       <div class="main">
        Articles
        <div class="line1"></div>
        <p>
          There are many variations of passages of Lorem Ipsum available, have
          suffered alteration in some form.
        </p>
      </div>
    </section>
   