
      <section class="i-hero , hero">
        <!--nav bar-->
        <nav id="nav">
          <div class="logo" id="logo">
            <a href="./index.html"
              ><img
                src="/asset/image/Shobowale Lukman.svg"
                class="logopng"

              alt=""
            /></a>
          </div>
          <label for="btn" class="icon">
            <span class="fa fa-bars"></span>
          </label>
          <input type="checkbox" id="btn" />
          <ul class="nav">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/public/index.html">SBI</a></li>
            <li><a href="/books.html">Books and Media</a></li>
            

           
            <li><a href="/bookme.html">Book Me</a></li>
            <li class="full" ><div class="get , up"><a href="./SBI.html/#contact">Get Started</a></div></li>
          </ul>
        </nav>


        <!--hero content-->
        <div class="hero-container"  >
          <div class="hero-row1">
            <div class="head">Shobowale's Business Insights</div>
            <div class="lines"></div>
            <div class="paragraph">
              The real estate business is very promising, but it's important to have knowledge and strategy to thrive. Join me as I share insights on how to make smart investments and navigate the industry to avoid pitfalls.
            </div>
          
            <div class="get , erect"><a href="#contact" class="me">Get Started</a></div>
          </div>

          <div class="hero-row2">
            <br/>
            <img src="/asset/image/Group 36460 (2).png" class="first" alt="" srcset="" />
            <img src="/asset/image/Group 36460 (2).png" class="second" alt="" srcset="" />
          </div>
        </div>
      </section>
      <div class="br">
       <br>
      <br>
      <br>
      <br>
      <br>
      
      <br/>
      </div>
     
