:root {
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;

  --ff-body: "Roboto", sans-serif;
  --ff-heading: "Playfair Display", serif;

  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  --clr-primary-200: hsla(169, 70%, 95%, 1);
  --clr-primary-300: hsla(169, 100%, 39%, 1);
  --clr-primary-400: hsla(169, 100%, 26%, 1);
  --clr-primary-500: hsla(169, 100%, 16%, 1);

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-300: hsla(0, 0%, 50%, 1);
  --clr-neutral-400: hsla(0, 0%, 40%, 1);
  --clr-neutral-500: hsla(0, 0%, 60%, 1);
  --clr-neutral-900: hsla(0, 0%, 10%, 1);
}

@media (min-width: 35em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #f4f8ff;
}
/*hero section*/
.hero {
  padding-top: 30px;
  background: #1b3764 !important;
  height: 527px !important;
  position: relative;
  width: 100%;

  clear: both;
}
.hero {
  background: #1b3764 !important;
  height: 527px !important;
  position: relative;
}
.main {
  position: absolute;
  width: 100%;
  height: 280px;
  text-align: center;
  top: 200px;
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  /* or 93% */

  text-align: center;
  flex-direction: column !important;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -1px;

  /* General Color/3 */

  color: #ffffff;
}
.line1 {
  width: 55px;
  height: 0px;

  margin: 40px 0;

  /* Yellow */

  border: 3px solid #ffc947;
}
.main p {
  /* There are many variations of passages of Lorem Ipsum available, have suffered alteration in some form. */

  width: 633px;
  height: 62px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 180%;
  /* or 34px */

  text-align: center;
  letter-spacing: -0.01em;

  color: #b4c7e7;
}
@media all and (max-width: 1100px) {
  .main {
    font-size: 40px;
  }
  .text-block {
    font-size: 15px;
  }
  .main p {
    font-size: 15px;
    width: 80%;
  }
  .line1 {
    width: 35px;
    border: 1.5 px solid #ffc947;
    margin: 20px 0;
  }
}
/*nav bar*/
nav {
  background: transparent;
}
nav:after {
  content: "";
  clear: both;
  display: table;
}
nav .logo {
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li {
  float: left;
  display: inline-block;
  background: transparent;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover {
  cursor: pointer;
}
nav ul ul li a:hover {
  box-shadow: none;
}
nav ul ul {
  position: absolute;
  list-style: none;
  top: 90px;
  border: none !important;
  background-color: #1b3764;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}
nav ul ul ul {
  border-top: none;
}
nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  text-align: center;
}
nav ul ul li a {
  line-height: 50px;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}
.show,
.icon,
input {
  display: none;
}
.fa-plus {
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 1100px) {
  .logopng {
    width: 8cm;
    height: 1.5cm;
  }
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .logo {
    padding-left: 30px;
    width: 100%;
  }
  .show + a,
  nav ul {
    display: none;
  }
  .nav {
    width: 100%;
    height: 100vh;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999999;
    display: none;
    position: sticky;
    transition: 1s ease-in-out;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;

    cursor: pointer;
  }

  .show:hover {
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: "\f00d";
  }
}
/*get started*/
.get {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;

  width: 167px;
  height: 50px;

  background: #ffca42;
}
.get a {
  width: 100% !important;
  height: 100% !important;

  font-family: "Cardo" !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 19px !important;
  line-height: 125%;
  /* identical to box height, or 24px */

  display: flex !important;
  align-items: center !important;

  text-align: center !important;
  letter-spacing: 0.02em;

  color: #1b3764;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-neutral-900);
}

h1,
h2 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-900);
  line-height: 1.1;
}

strong {
  font-weight: var(--fw-700);
}

section,
.section {
  padding: min(10vh, 10em) 0;
}

/* //////////////////////
  Utility Classes
  /////////////////////// */

/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.container {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 72rem;
}

.container--narrow {
  max-width: 65rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.text-center {
  text-align: center;
}

/* typgraphy */

.article-title,
.section-title {
  color: var(--clr-primary-500);
}

.article-title {
  font-size: var(--fs-700);
}

.section-title {
  font-size: var(--fs-600);
}

/* //////////////////////
  Header
  /////////////////////// */

.page-header {
  padding: 2em 0;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: var(--clr-neutral-900);
  text-decoration: none;
}

.nav-list a:focus,
.nav-list a:hover {
  color: var(--clr-primary-400);
  text-decoration: underline;
}

/* //////////////////////
  Footer
  /////////////////////// */

.site-footer {
  --logo-color: currentColor;
  padding: 2em 0;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-500);
  text-align: center;
}
/*article section*/
/* article section styling*/
.article-section {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.a-card {
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  height: 392px;
  margin-top: 20px;
  background: #ffffff;
  box-shadow: 0px 35px 25px rgba(4, 11, 20, 0.04);
}
.a-card img {
  width: 30%;

  height: 100%;
}
.a-content {
  padding: 30px;

  display: flex;
  width: 70%;
  height: 100%;
  flex-direction: column;
}
.a-h3 {
  width: 80%;
  height: 60px;

  margin-top: 27px;

  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  /* or 48px */

  letter-spacing: -0.02em;

  color: #1b3764;
}
.a-p {
  font-family: "Inter";
  font-style: normal;
  width: 100%;
  font-weight: 400;
  padding-right: 10px;
  font-size: 14px;
  line-height: 180%;
  text-align: justify;
  /* or 34px */
  margin-top: 0px;
  letter-spacing: -0.01em;

  color: #969aa0;
}
.a-details ul {
  margin-top: 20px;
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.a-details ul li a {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  /* or 22px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #1b3764;
}

.a-details ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 125%;
  /* or 21px */

  display: flex;
  align-items: center;
  text-align: right;

  color: #1b3764;
}
.color {
  color: #1b3764 !important;
  text-decoration: none !important;
}

@media all and (max-width: 1100px) {
  .a-card {
    flex-direction: row !important;
    height: 300px;
  }
  .a-card img {
    width: 100%;
    height: 40%;
    position: relative;
  }
  .a-card .a-content {
    width: 100%;
    height: 60%;
    position: relative;
  }
  .a-h3 {
    font-size: 20px;
    width: 100px;
  }
  .a-h3 {
    color: #1b3764;
    text-decoration: none;
  }
  .a-p {
    width: 100%;
    padding: 10px;
    font-size: 13px;
  }
}

/*Card*/
.card_container {
  display: flex;
  height: 350px;
  width: 86%;
  overflow: hidden;
  margin: 0px 0;
  box-shadow: 0px 35px 25px rgba(4, 11, 20, 0.04);
}

.card_image {
  width: 30%;
}

.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_details {
  background-color: #ffffff;
  display: flex;
  width: 70%;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.product_name div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.product_name div:nth-child(2) {
  color: #a8a8a8;
  padding: 20px 0;
}

.product_button {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffffff;
}

.deletebtn {
  background-color: #fbbbbb;
  color: #ffffff;
}

.deletebtn:hover {
  background-color: #f76262;
  color: #ffffff;
}

.editbtn {
  color: #ffffff;
  background-color: #5dab54;
}

.editbtn:hover {
  color: #ffffff;
  background-color: #2c9820;
}

.publishbtn {
  color: #ffffff;
  background-color: #188a20;
}

.publishbtn:hover {
  color: #ffffff;
  background-color: #188a20;
}

@media screen and (max-width: 1100px) {
  .card_container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    border-radius: 10px;
  }

  .card_image {
    width: 100%;
  }
  .a-h3 {
    font-size: 20px;
    width: 100%;
    padding: 10px;
  }

  .card_details {
    width: 100%;
  }
}

/* //////////////////////
  Homepage
  /////////////////////// */

.hero__image {
  width: 100%;
  /* max-height: max(15rem, 40vh); */
  object-fit: cover;
}

@media (min-width: 45em) {
  .hero > div {
    grid-auto-flow: column;
  }
}

.featured-articles {
  background-color: var(--clr-primary-200);
}

.articles__list {
  --flow-spacer: 3rem;
  margin: 6rem 0;
}

/* //////////////////////
  Individual article page
  /////////////////////// */

.main-article {
  margin-bottom: 3rem;
}

.main-article__figure figcaption {
  margin: 1rem 0;
  font-size: var(--fs-300);
  opacity: 0.9;
}

/* //////////////////////
  Article snippets
  /////////////////////// */

.btn--neutral {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-neutral-900);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

/*footer style*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
}
.container ul {
  list-style: none;
}
.footer {
  background: #1b3764;

  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 24px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  font-family: "Cardo";
  position: relative;
}
.footer-col ul span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 180%;
  /* or 32px */

  letter-spacing: -0.01em;

  color: #b4c7e7;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;

  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;

  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a i {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */

  text-align: center;
  letter-spacing: 0.055em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  color: #ffffff;
  border: 1px #ffca42 solid;
  width: 55px !important;
  margin: 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px !important;
}
.footer-col .social-links a i {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #24262b;
}
.footer-col .social-links a:hover .footer-col .social-links a i {
  color: #24262b;
}
.social {
  display: flex;
  flex-direction: row;
  list-style: none;
}
/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/*b-line*/
.b-line-c {
  margin-top: 30px;
}
.b-line-c,
.b-c {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.b-line {
  width: 80%;
  height: 0px;

  opacity: 0.2;
  border: 1px solid #ffffff;
}
.b-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 200%;
  /* identical to box height, or 34px */

  letter-spacing: -0.01em;

  color: #b4c7e7;
}
